* {
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 0.5vw);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-left: 2rem;
  background: #282c34;
  color: rgb(216, 216, 216);
  font-family: "Ubuntu Regular", Fallback, sans-serif;
}

a {
  color: rgb(216, 216, 216);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

footer {
  margin: 1rem;
  font-size: 0.8rem;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1rem;
  border-bottom: 1px solid #646c7a;
  width: fit-content;
}

.body-wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.main-link {
  font-family: "Fira Code Bold";
  font-size: 1.4rem;
}

.main-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.intro-text {
  width: 80%;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.main_ul {
  vertical-align: left;
}

.main-li {
  padding: 0.8rem;
  vertical-align: middle;
}

.icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.blue {
  color: #528db7;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #e77945;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
